In [1]:
# Q1ï¼š

import pandas as pd
url = "https://raw.githubusercontent.com/datasets/co2-fossil-global/master/global.csv"
df = pd.read_csv(url)
df.isna().sum()

Year             0
Total            0
Gas Fuel         0
Liquid Fuel      0
Solid Fuel       0
Cement           0
Gas Flaring      0
Per Capita     199
dtype: int64

In [3]:
# Q2:

# 1
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/datasets/co2-fossil-global/master/global.csv"
data = pd.read_csv(url)

# Get the shape of the dataset (number of rows and columns)
print(f"Number of rows: {data.shape[0]}")
print(f"Number of columns: {data.shape[1]}")


# 2
# Definition of Observation: Observation means the single pieces of data or examples insides in a dataset.
# Definition of Variable: Variable means the different types of information recorded for every data in a dataset.

Number of rows: 260
Number of columns: 8

In [5]:
# Q3:

import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/datasets/co2-fossil-global/master/global.csv"
df = pd.read_csv(url)

# Display the first few rows of the dataset
print("First few rows of the dataset:")
print(df.head())

# Display the columns
print("\nColumn names:")
print(df.columns)

# Check and summarize numerical columns
print("\nDescriptive statistics for numerical columns:")
print(df.describe())

# Check and summarize 'Country' column
if 'Country' in df.columns:
    print("\nCounts of unique values in 'Country':")
    print(df['Country'].value_counts())
else:
    print("'Country' column does not exist.")

# Check and summarize 'Year' column
if 'Year' in df.columns:
    print("\nCounts of unique values in 'Year':")
    print(df['Year'].value_counts())
else:
    print("'Year' column does not exist.")

First few rows of the dataset:
   Year  Total  Gas Fuel  Liquid Fuel  Solid Fuel  Cement  Gas Flaring  \
0  1751      3         0            0           3       0            0
1  1752      3         0            0           3       0            0
2  1753      3         0            0           3       0            0
3  1754      3         0            0           3       0            0
4  1755      3         0            0           3       0            0

   Per Capita
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN

Column names:
Index(['Year', 'Total', 'Gas Fuel', 'Liquid Fuel', 'Solid Fuel', 'Cement',
       'Gas Flaring', 'Per Capita'],
      dtype='object')

Descriptive statistics for numerical columns:
              Year        Total    Gas Fuel  Liquid Fuel   Solid Fuel  \
count   260.000000   260.000000   260.00000   260.000000   260.000000
mean   1880.500000  1402.788462   185.20000   495.819231   674.569231
std      75.199734  2253.098527   396.58556   934.308074   868.368580
min    1751.000000     3.000000     0.00000     0.000000     3.000000
25%    1815.750000    12.750000     0.00000     0.000000    12.750000
50%    1880.500000   239.500000     0.00000     3.000000   236.000000
75%    1945.250000  1385.000000    59.50000   279.250000  1023.500000
max    2010.000000  9167.000000  1702.00000  3122.000000  3842.000000

           Cement  Gas Flaring  Per Capita
count  260.000000   260.000000   61.000000
mean    34.161538    13.065385    1.054754
std     78.899604    26.311315    0.178630
min      0.000000     0.000000    0.640000
25%      0.000000     0.000000    0.940000
50%      0.000000     0.000000    1.120000
75%     12.000000     0.000000    1.170000
max    450.000000   110.000000    1.330000
'Country' column does not exist.

Counts of unique values in 'Year':
Year
1751    1
1914    1
1916    1
1917    1
1918    1
       ..
1842    1
1843    1
1844    1
1845    1
2010    1
Name: count, Length: 260, dtype: int64

In [7]:
# Q4:

import pandas as pd

# Load the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Print the shape of the dataset
print("Shape of the dataset:")
print(df.shape)

# Get descriptive statistics for numerical columns
print("\nDescriptive statistics for numerical columns:")
print(df.describe())

# Get descriptive statistics for all columns
print("\nDescriptive statistics for all columns:")
print(df.describe(include='all'))

# Count of missing values in each column
print("\nMissing values in each column:")
print(df.isnull().sum())



# Discrepancies in the count arise because df.describe() does not include categorical columns by default 
# and may show fewer rows for columns with missing values.

Shape of the dataset:
(891, 15)

Descriptive statistics for numerical columns:
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

Descriptive statistics for all columns:
          survived      pclass   sex         age       sibsp       parch  \
count   891.000000  891.000000   891  714.000000  891.000000  891.000000
unique         NaN         NaN     2         NaN         NaN         NaN
top            NaN         NaN  male         NaN         NaN         NaN
freq           NaN         NaN   577         NaN         NaN         NaN
mean      0.383838    2.308642   NaN   29.699118    0.523008    0.381594
std       0.486592    0.836071   NaN   14.526497    1.102743    0.806057
min       0.000000    1.000000   NaN    0.420000    0.000000    0.000000
25%       0.000000    2.000000   NaN   20.125000    0.000000    0.000000
50%       0.000000    3.000000   NaN   28.000000    0.000000    0.000000
75%       1.000000    3.000000   NaN   38.000000    1.000000    0.000000
max       1.000000    3.000000   NaN   80.000000    8.000000    6.000000

              fare embarked  class  who adult_male deck  embark_town alive  \
count   891.000000      889    891  891        891  203          889   891
unique         NaN        3      3    3          2    7            3     2
top            NaN        S  Third  man       True    C  Southampton    no
freq           NaN      644    491  537        537   59          644   549
mean     32.204208      NaN    NaN  NaN        NaN  NaN          NaN   NaN
std      49.693429      NaN    NaN  NaN        NaN  NaN          NaN   NaN
min       0.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
25%       7.910400      NaN    NaN  NaN        NaN  NaN          NaN   NaN
50%      14.454200      NaN    NaN  NaN        NaN  NaN          NaN   NaN
75%      31.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
max     512.329200      NaN    NaN  NaN        NaN  NaN          NaN   NaN

       alone
count    891
unique     2
top     True
freq     537
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN

Missing values in each column:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

# Q5:


An attribute is the information connected to an object that describes something about it without using parentheses.
And A method is a function linked to an object that can give back a result. You can use it by typing a dot and then parentheses after the object. Therefore, the main difference between an attribute and a method is that df.shape gives the size of the DataFrame which is an attribute, while df.describe() gives statistical summaries of the DataFrame's numbers which is a method.

# Q6:


Count: Number of non-null values in the column.
Mean: Average value of the data.
Standard Deviation (std): Measure of how spread out the values are from the mean.
Minimum (min): Smallest value in the column.
25th Percentile (25%): Value below which 25% of the data falls.
50th Percentile (50%): Median value; the middle value where half the data is above and half is below.
75th Percentile (75%): Value below which 75% of the data falls.
Maximum (max): Largest value in the column.


Also these words only could deal with numerical values because they rely on mathematical operations, and need to rank them when the values are at min, 25%, median, 75%, max.

When we use df.describe() to perform data processing, it actually ignores missing values. Instead, it only calculate non missing values.

This processing mode is not always useful because in some special cases, we have to delete the missing value, or to display the data, so in this case, describe can not be processed.

# Q7

# 1

For example, if we are collecting the information of customers, there are some rows don't have the email or phone, but other information are significant. Therefore, using df.dropna() to delete these and keep those important information.

# 2

del df['col'] is most used when a column of data analysis is not particularly important, such as studying student evaluations and recommendations for school cafeteries-one column of information is gender. At this time, gender has little to do with the survey, so many students are reluctant to answer this column, resulting in a lot of missing value.

# Q7:

# 3


It is very significant to use del df['col'] before df.dropna() when they are being used together is that some useless data can be delete before dealing with other important datasets. For example, if there is a huge dataframe, most of them contains a lot of missing value, this could make the dataframe easier to manage.

In [15]:
# Q7

# 4

import pandas as pd
import numpy as np

# URL for the Iris dataset
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

# Load the dataset
df = pd.read_csv(url, header=None, names=['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species'])

# Simulate missing values
df.loc[5:10, 'sepal_length'] = np.nan
df.loc[15:20, 'petal_width'] = np.nan

print("DataFrame with Missing Values:")
print(df.head(15))

print("\nMissing values in each column:")
print(df.isnull().sum())

# Remove 'species' column
del df['species']

print("\nDataFrame after removing 'species' column:")
print(df.head())

# Drop rows with missing values in 'sepal_length' and 'petal_width'
df_cleaned = df.dropna(subset=['sepal_length', 'petal_width'])

print("\nDataFrame after dropping rows with missing 'sepal_length' or 'petal_width':")
print(df_cleaned.head())

# Summary of the cleaned DataFrame
print("\nCleaned DataFrame shape:")
print(df_cleaned.shape)

print("\nMissing values in each column after cleaning:")
print(df_cleaned.isnull().sum())


# Column Removal: The species column was removed to simplify the dataset.
# Row Removal: Rows with missing values in sepal_length and petal_width were removed to ensure that critical variables do not contain missing data.

DataFrame with Missing Values:
    sepal_length  sepal_width  petal_length  petal_width      species
0            5.1          3.5           1.4          0.2  Iris-setosa
1            4.9          3.0           1.4          0.2  Iris-setosa
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
4            5.0          3.6           1.4          0.2  Iris-setosa
5            NaN          3.9           1.7          0.4  Iris-setosa
6            NaN          3.4           1.4          0.3  Iris-setosa
7            NaN          3.4           1.5          0.2  Iris-setosa
8            NaN          2.9           1.4          0.2  Iris-setosa
9            NaN          3.1           1.5          0.1  Iris-setosa
10           NaN          3.7           1.5          0.2  Iris-setosa
11           4.8          3.4           1.6          0.2  Iris-setosa
12           4.8          3.0           1.4          0.1  Iris-setosa
13           4.3          3.0           1.1          0.1  Iris-setosa
14           5.8          4.0           1.2          0.2  Iris-setosa

Missing values in each column:
sepal_length    6
sepal_width     0
petal_length    0
petal_width     6
species         0
dtype: int64

DataFrame after removing 'species' column:
   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

DataFrame after dropping rows with missing 'sepal_length' or 'petal_width':
   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Cleaned DataFrame shape:
(138, 4)

Missing values in each column after cleaning:
sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
dtype: int64

Summary for 1-7:

1. Introduction to Dataset Analysis:

Objective: Analyze datasets to understand their size and content using pandas.
Methods Discussed: df.shape, df.describe(), and handling missing data.
2. Exploring Dataset Size and Columns:

df.shape: Provides dimensions of the DataFrame (number of rows and columns).
df.describe(): Summarizes statistical properties of numeric columns (count, mean, std, min, 25%, 50%, 75%, max).
Attributes vs. Methods: Attributes like df.shape do not require parentheses and provide metadata. Methods like df.describe() require parentheses and perform actions or calculations.
3. Handling Missing Data:

Methods:
df.dropna(): Removes rows with missing values.
del df['col']: Removes entire columns, often used when a column is unnecessary or has too many missing values.
Use Case Example:
Removing Rows: Preferred when critical columns have missing values that affect the integrity of the analysis.
Removing Columns: Preferred when columns have too many missing values or are not essential for the analysis.
4. Detailed Example with Customer Reviews Dataset:

Scenario: Deciding between removing rows or columns with missing values.
Approach:
Removing Columns: Example given where the 'review_text' column was removed because it was not critical and had many missing values.
Removing Rows: Example where rows with missing 'rating' or 'review_date' were removed to ensure accurate analysis.
5. Additional Example with Employee Records Dataset:

Scenario: Handling missing values by removing rows with missing critical data while keeping relevant columns.
Approach:
Removing Rows: Rows with missing values in critical columns ('salary') were removed to ensure completeness of data.
6. Application to the Iris Dataset:

Scenario: Handling missing data and column removal.
Approach:
Simulated Missing Data: Missing values introduced in 'sepal_length' and 'petal_width'.
Column Removal: Removed the 'species' column for numeric analysis.
Row Removal: Used df.dropna() to remove rows with missing values in critical columns.
7. Code Implementation and Results:

Before Cleaning: DataFrame with missing values.
After Cleaning: Removed rows with missing values and columns as needed, resulting in a DataFrame ready for analysis.
Conclusion: The approaches discussed and applied involve careful consideration of which data to keep or remove based on the needs of the analysis, ensuring data integrity and accuracy.


Chatgpt link 1-7:
https://chatgpt.com/c/66e0e5ed-2050-8001-8347-c9c46d251653

In [19]:
# Q8:

# 1

import pandas as pd

# Load the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Display the first few rows and columns
print(df.head())
print(df.columns)

# Group by "class" and describe the "age" column
summary_stats = df.groupby("class")["age"].describe()

print(summary_stats)


# This code is to classify the data of the categories in the whole colume1,
# and calculate the summary of the data after classification.

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')
        count       mean        std   min   25%   50%   75%   max
class
First   186.0  38.233441  14.802856  0.92  27.0  37.0  49.0  80.0
Second  173.0  29.877630  14.001077  0.67  23.0  29.0  36.0  70.0
Third   355.0  25.140620  12.495398  0.42  18.0  24.0  32.0  74.0

# Q8

# 2

They are different, because the logic of the two codes is different, if you directly describe it is a whole data, without any screening and classification. If there's any missing value, it doesn't count so it's a little bit less empty than it really is.

In [1]:
# Q8

# 3A

# Load the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Display the first few rows and columns
print(df.head())
print(df.columns)

# Group by "class" and describe the "age" column
summary_stats = df.groupby("class")["age"].describe()

print(summary_stats)

NameError: name 'pd' is not defined

In [2]:
# 3A

import pandas as pd

# Load the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Display the first few rows and columns
print(df.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [3]:
# 3B

import pandas as pd

# Load the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanics.csv"
df = pd.read_csv(url)

# Display the first few rows and columns
print(df.head())
print(df.columns)

# Group by "class" and describe the "age" column
summary_stats = df.groupby("class")["age"].describe()

print(summary_stats)

HTTPError: HTTP Error 404: Not Found

In [4]:
import pandas as pd

# Load the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Display the first few rows and columns
print(df.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [5]:
# 3C

import pandas as pd

# Load the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Display the first few rows and columns
print(df.head())
print(df.columns)

# Group by "class" and describe the "age" column
summary_stats = DF.groupby("class")["age"].describe()

print(summary_stats)

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

NameError: name 'DF' is not defined

In [6]:
import pandas as pd

# Load the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Display the first few rows and columns
print(df.head())

# Group by "class" and describe the "age" column
summary_stats = df.groupby("class")["age"].describe()

print(summary_stats)

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
        count       mean        std   min   25%   50%   75%   max
class
First   186.0  38.233441  14.802856  0.92  27.0  37.0  49.0  80.0
Second  173.0  29.877630  14.001077  0.67  23.0  29.0  36.0  70.0
Third   355.0  25.140620  12.495398  0.42  18.0  24.0  32.0  74.0

In [7]:
# 3D

import pandas as pd

# Load the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url

# Display the first few rows and columns
print(df.head())
print(df.columns)

# Group by "class" and describe the "age" column
summary_stats = df.groupby("class")["age"].describe()

print(summary_stats)

SyntaxError: '(' was never closed (654602121.py, line 7)

In [8]:
import pandas as pd

# Load the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)  # Make sure to close the parenthesis here

# Display the first few rows and columns
print(df.head())

# Group by "class" and describe the "age" column
summary_stats = df.groupby("class")["age"].describe()

print(summary_stats)

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
        count       mean        std   min   25%   50%   75%   max
class
First   186.0  38.233441  14.802856  0.92  27.0  37.0  49.0  80.0
Second  173.0  29.877630  14.001077  0.67  23.0  29.0  36.0  70.0
Third   355.0  25.140620  12.495398  0.42  18.0  24.0  32.0  74.0

In [9]:
# 3E

import pandas as pd

# Load the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Display the first few rows and columns
print(df.head())
print(df.columns)

# Group by "class" and describe the "age" column
summary_stats = df.group_by("class")["age"].describe()

print(summary_stats)

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

AttributeError: 'DataFrame' object has no attribute 'group_by'

In [10]:
import pandas as pd

# Load the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Display the first few rows and columns
print(df.head())
print(df.columns)

# Group by "class" and describe the "age" column
summary_stats = df.groupby("class")["age"].describe()

print(summary_stats)

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')
        count       mean        std   min   25%   50%   75%   max
class
First   186.0  38.233441  14.802856  0.92  27.0  37.0  49.0  80.0
Second  173.0  29.877630  14.001077  0.67  23.0  29.0  36.0  70.0
Third   355.0  25.140620  12.495398  0.42  18.0  24.0  32.0  74.0

In [11]:
# 3F

import pandas as pd

# Load the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Display the first few rows and columns
print(df.head())
print(df.columns)

# Group by "class" and describe the "age" column
summary_stats = df.groupby("class")["Age"].describe()

print(summary_stats)

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

KeyError: 'Column not found: Age'

In [12]:
import pandas as pd

# Load the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Display the first few rows and columns
print(df.head())
print(df.columns)  # Print out the column names to check

# Group by "class" and describe the "age" column
summary_stats = df.groupby("class")["age"].describe()

print(summary_stats)

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')
        count       mean        std   min   25%   50%   75%   max
class
First   186.0  38.233441  14.802856  0.92  27.0  37.0  49.0  80.0
Second  173.0  29.877630  14.001077  0.67  23.0  29.0  36.0  70.0
Third   355.0  25.140620  12.495398  0.42  18.0  24.0  32.0  74.0

In [13]:
# 3G

import pandas as pd

# Load the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Display the first few rows and columns
print(df.head())
print(df.columns)

# Group by "class" and describe the "age" column
summary_stats = df.groupby(class)["age"].describe()

print(summary_stats)

SyntaxError: invalid syntax (2155668596.py, line 14)

In [14]:
import pandas as pd

# Load the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Display the first few rows and columns
print(df.head())
print(df.columns)  # Print out the column names to check

# Group by "class" and describe the "age" column
summary_stats = df.groupby("class")["age"].describe()

print(summary_stats)

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')
        count       mean        std   min   25%   50%   75%   max
class
First   186.0  38.233441  14.802856  0.92  27.0  37.0  49.0  80.0
Second  173.0  29.877630  14.001077  0.67  23.0  29.0  36.0  70.0
Third   355.0  25.140620  12.495398  0.42  18.0  24.0  32.0  74.0

Summary: In my opinion, chatgpt is very useful to check the wrong code and then give the correct data than google debug because chatgpt is more quick to provide solutions without needing to search through multiple websites. Also, it will tell you which part is wrong and use different color to highlight it which gives me more passions on it.
What's more, it is more interactive and it can answer me using my personalities.

1. Initial Inquiry on Titanic Dataset:

2. User's Request: The user sought assistance in performing initial summary analyses on the Titanic dataset, including understanding and troubleshooting code related to missing values and data summarization.
ChatBot's Assistance: Provided explanations on how df.describe() and df.groupby("col1")["col2"].describe() handle missing values differently and demonstrated the application of these functions using the Titanic dataset.
Error Handling and Troubleshooting:

3. User's Request: The user wanted to explore how different types of errors in the code (e.g., missing imports, file name typos, incorrect DataFrame usage) are handled by ChatBot versus Google search.
ChatBot's Assistance: Offered guidance on identifying and fixing common errors such as missing import statements, file not found errors, syntax issues, and typos in function names and column names.
Error Simulation and Troubleshooting:

4. User's Request: The user introduced specific errors into the code and asked for an evaluation of how effectively a ChatBot and Google search can help with troubleshooting these errors.
ChatBot's Assistance: Provided explanations for each error type, including the NameError, FileNotFoundError, and syntax issues. Suggested troubleshooting steps and how both ChatBot and Google search can be used effectively for error resolution.

Chatgpt link:
https://chatgpt.com/c/66e0ea0a-cb90-8001-8e3c-64d1e9e1f6f7
https://chatgpt.com/c/66e0fc9a-3f9c-8001-a2a3-0dfabf1405c5

# Q9

Mostly